* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 64px;
}

p {
    color: black;
}

a {
    color: #07251f;
    text-decoration: none;
    font-weight: bold;
    transition: all 1s ease;
}

a:hover {
    color: rgb(197, 85, 154);
    transition: all 1s ease;
}

.header {
    padding: 1rem;
}

.logo-container {
    font-size: 24px;
}
.wrapper {
    width: 80%;
    margin: auto;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15rem;
}
.title {
    margin: 2rem 0 4rem;
}

.synth-container {
    display: flex;
    flex-direction: row;
}

.synth-pad-and-info {
    display: flex;
    flex-direction: column;
}
.canvas-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1em;

}

.wave-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin-right: 2rem;
}

.wave-btn {

    padding: .5em;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 22px;
    color: rgb(0, 5, 5);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .75);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.wave-btn:hover {
 background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

.wave-btn:active {
 transform: translateY(-1px);
}


#wave-select {
    background-color: #e69090;
    box-shadow: 0 15px 25px rgb(141, 76, 98);
    transform: translateY(-7px);

}

.filter-container {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}
.filter-ranges {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 5rem;
    position: relative;
}


.filter-slider {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    height: 22rem;
    margin-bottom: 4rem;
}

.filter-label {
    transform: rotate(270deg);
    width: 275px;
    position: absolute;
    letter-spacing: .25em;
    word-spacing: 1em;
    top: 180px;
    left: -100px;
    font-weight: bold;
    font-size: 18px;
}

.canvas-container {
    display: flex;
    flex-direction: column;
}

.eq-container {
    margin: 0;
    text-align: center;
}

.credits {
    text-align: right;
    font-style: italic;
}

#synth-pad {
	float: left;
	width: 350px;
	height: 350px;
	border-radius: 10px;
	/*background: #1E1E1E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);*/
}

#synth-pad:hover {
	cursor: crosshair;
}

#analyser-canvas {
    background: rgba(255, 255, 255, 0.041);
    width: 600px;
    height: 200px;
    border-radius: 10px;
    border-color: #07251f;
    border-style: solid;
}

#freq-canvas {
    background: rgba(255, 255, 255, 0.041);
    width: 600px;
    height: 200px;
    border-radius: 10px;
    border-color: #07251f;
    border-style: solid;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .synth-container {
        flex-direction: column;
    }
    .wave-buttons-container {
        flex-direction: row;
        height: 6rem;
    }

    #synth-pad {
        width: 300px;
        height: 300px;
    }

    .filter-container {
        flex-direction: column;
    }

    .filter-slider {
        -webkit-appearance: slider-horizontal; /* Chromium */
        height: 3rem;
        margin-bottom: .5rem;
        }

    .filter-label {
        transform: rotate(0);
        width: 215px;
        letter-spacing: .1em;
        word-spacing: .25em;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 15px;
        left: 150px;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .synth-container {
        flex-direction: column;
    }
    .wave-buttons-container {
        flex-direction: row;
        height: 6rem;
    }

    #synth-pad {
        width: 500px;
        height: 500px;
    }

    .filter-container {
        flex-direction: column;
    }

    .filter-slider {
        -webkit-appearance: slider-horizontal; /* Chromium */
        height: 3rem;
        margin-bottom: .5rem;
        }

    .filter-label {
        transform: rotate(0);
        width: 215px;
        letter-spacing: .1em;
        word-spacing: .25em;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 15px;
        left: 150px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .synth-container {
        flex-direction: row;
       
    }
    .wave-buttons-container {
        flex-direction: column;
        height: 350px;
        
    }

    #synth-pad {
        height: 350px;
        width: 350px;
    }

    .filter-container {
        flex-direction: row;
        
    }

   .filter-slider {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* Chromium */
        height: 22rem;
        margin-bottom: 4rem;
        }

    .filter-label {
        transform: rotate(270deg);
        width: 275px;
        position: absolute;
        letter-spacing: .25em;
        word-spacing: 1em;
        top: 180px;
        left: -100px;
        font-weight: bold;
        font-size: 18px;
    }
}
